<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lemoncode</title>
  <link type="text/css" rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="toolbar">
      <div class="search-container">
        <input type="text" placeholder="Buscar empleados..." />
        <img src="magnifying-glass.svg" alt="Icono de usuario" width="16" />
      </div>
      <div>
        <img src="user-regular.svg" alt="Icono de usuario" width="12" />
        <span>Víctor Borrego Pérez</span>
      </div>
    </div>
    <div class="page-title">Welcome Lemoncoders! 🍋</div>
  </header>

  <div class="page-container">
    <nav>
      <div class="menu-container">
        <div class="menu-title">
          <img src="chevron-down.svg" alt="Icono de usuario" width="12" />
          <span>Frameworks</span>
        </div>
        <ul class="menu-items">
          <li>React</li>
          <li>Svelte</li>
          <li>Vue</li>
          <li>Angular</li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="list">
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/14540103?s=96&v=4" />
            <div>Antonio Contreras</div>
          </div>
        </div>

        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/1457912?s=96&v=4" />
            <div>Braulio Díez</div>
          </div>
        </div>

        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/13205689?s=96&v=4" />
            <div>Santiago Camargo</div>
          </div>
        </div>

        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/43171355?s=96&v=4" />
            <div>Francisco Javier de Jesús Mazzoni</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/24454225?s=96&v=4" />
            <div>Javier Calzado</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/7754966?s=96&v=4" />
            <div>Jaime Salas</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/26490961?s=96&v=4" width="96" />
            <div>Jose Manuel</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/58438522?s=96&v=4" />
            <div>Juan Pablo Martínez</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/4374977?s=96&v=4" />
            <div>Daniel Sánchez</div>
          </div>
        </div>
        <div class="card item">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/43609530?s=96&v=4" />
            <div>Víctor Borrego</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div>Master Lemoncode</div>
      <div>&copy; 2023 - Iván Ruiz </div>
    </footer>
  </div>
</body>

</html>