$theme-primary-color: #efefef;
$theme-important-color: #ff0202;
$theme-warning-color: #ff7300;
$theme-primary-font: "Arial";
$theme-secondary-font: "sans-serif";
$theme-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
