$theme-primary-color: #333333;
$theme-important-color: #ffbf00;
$theme-warning-color: #ff7300;
$theme-primary-font: "Helvetica";
$theme-secondary-font: "Georgia";
$theme-box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.6);
